* {	box-sizing: border-box;}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}							

/*  0F477C */

ul {list-style: none;}

.group:after {
  content: "";
  display: table;
  clear: both;
}		

.row {
	padding: 0.5em 5%;
}

body {
	margin: 0 auto;
	background: #E5E5DF;
	color: #423C33;
	line-height: 1.4;
	font-size: 120%;
	font-family: "freight-sans-pro-1","freight-sans-pro-2", sans-serif;
}

header {
	background-color: rgba(0,0,0,0.1);
}

form {
	background-color: rgba(0,0,0,0.2);
}

h1 {
	margin-bottom: 0.5em;

	font-family: "freight-micro-pro-1","freight-micro-pro-2";
	font-size: 150%;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}

p {
	margin-bottom: 1em;
}

a {
	color: inherit;
	text-decoration: none;
}

.intro {
	font-size: 80%;
	text-align: center;
}

label {
	margin-bottom: 0.5em;
}

form input:first-child {
	margin-bottom: 0.5em;
}

input[type="text"], input[type="email"], input[type="password"]{
	display: inline-block;
	width: 85%;
	border: 1px solid #fff;
	border-right: none;
	float: left;
	height: 44px;
	padding: 3px 5px;

	font-family: inherit;
	font-size: 1em;

	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;	
	-webkit-appearance: none;
}

button {
	font: inherit;
	font-weight: 500;
	border: inherit;
	cursor: pointer;
}

.button {
	display: inline-block;
	float: left;
	height: 44px;
	padding: 3px 5px;
	width: 15%;

	background-color: #DC6F61;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	line-height: 38px;
}

.content {
	background-color: rgba(255,255,255,1);
}

#beers li {
	margin-bottom: 0.5em;
}

.paginate {
	display: block;
	background-color: #DC6F61;
	border-radius: 4px;
	color: #fff;
	height: 44px;
	line-height: 44px;		
	text-align: center;
}

.copyright {
	font-size: 70%;
	text-align: center;
}

.fade {
	-webkit-animation: backgroundFade 5s;
}

@-webkit-keyframes backgroundFade {
	0% {background-color: yellow;}
	100% {background-color: inherit;}
}