* {	box-sizing: border-box;}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/*  0F477C */

ul {list-style: none;}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.row {
	padding: 0.5em 5%;
}

body {
	margin: 0 auto;
	background: #E5E5DF;
	color: #423C33;
	line-height: 1.4;
	font-size: 120%;
	font-family: "freight-sans-pro-1","freight-sans-pro-2", sans-serif;
}

header {
	position: relative;
	background: rgba(0,0,0,0.05);
}

.menu {
	position: absolute;
	top: 0.5em;
	right: 5%;
	font-size: 150%;
}

.btn {
	text-decoration: none;
}

h1 {
	margin-bottom: 0.5em;

	font-family: "freight-micro-pro-1","freight-micro-pro-2";
	font-size: 150%;
	font-weight: normal;
}

p {
	margin-bottom: 0.25em;
}

a {
	color: inherit;
}

input[type="text"], input[type="email"], input[type="password"]{
	display: block;
	width: 100%;
	border-top: 1px solid rgb(210,210,210);
	border-right: none;
	border-bottom: none;
	border-left: none;
	float: left;
	height: 44px;
	margin-bottom: 0.5em;
	padding: 3px 5px;

	font-family: inherit;
	font-size: 1em;

	border-radius: 0;
	-webkit-appearance: none;
}

button {
	font: inherit;
	font-weight: 500;
	border: inherit;
	cursor: pointer;
}

.button {
	border-bottom: 2px solid rgba(0,0,0,0.2);
	display: block;
	float: left;
	height: 44px;
	margin-bottom: 0.5em;
	width: 100%;

	background-color: #DC6F61;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	line-height: 44px;
}

.content {

}

.hidden {
	display: none;
}

.beer {
	border-bottom: 1px solid rgb(210, 210, 210);
	margin-bottom: 0.5em;
	padding: 0.25em;

	background-color: #fff;
	vertical-align: middle;
	overflow:auto;
}

.beer img {
	float:left;
	margin-right: 0.25em;
}

li > div {
	float: left;
	width: 80%;
}

.beer h1 {
	font-size: 1em;
	text-transform: none;
	margin: 0;
	vertical-align: top;
}

.beer li span {
	font-size: 60%;
}

.secondary {
	background-color: rgba(0,0,0,0.2);
	width: 100%;
}

.meta {
	font-size: 80%;
}

.copyright {
	font-size: 70%;
	text-align: center;
}

.fade {
	-webkit-animation: backgroundFade 2s;
}

.slideIn {
	-webkit-animation: fadeIn 1s;
}

@-webkit-keyframes backgroundFade {
	0% {background-color: #f7c12d;}
	100% {background-color: #fff;}
}

@-webkit-keyframes fadeIn {
	from {opacity:0;}
	to {opacity: 1;}
}